/*Color palletes:
NavBar: rgb(132, 217,210);
Background: rgb(236, 255,251);
Headline main: rgb(254, 182, 142);
Headline small: rgb(250, 208, 184);
Border: rgb(173, 218, 211);

*/

/*Font:
Header-----> font-family: 'Fredoka One', cursive;
Text-----> font-family: 'Roboto', sans-serif;
*/

body{
    background-color: rgb(236, 255,251);
}

#navbar {
    background-color: rgb(132, 217,210);
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 5px;
}

#navbar a{
    display:block;
    color: rgb(255, 255, 255);
    border-radius: 5%;
    text-decoration: none;
}

#navbar a:hover {
    background-color: rgb(115, 214, 206);
}