/*Color palletes:
NavBar: rgb(132, 217,210);
Background: rgb(236, 255,251);
Headline main: rgb(254, 182, 142);
Headline small: rgb(250, 208, 184);
Border: rgb(173, 218, 211);

*/

/*Font:
Header-----> font-family: 'Fredoka One', cursive;
Text-----> font-family: 'Roboto', sans-serif;
*/

/*------------------------ ------------------------ ------------------------*/
#dateInput{
    padding-top: 90px;
    background-color: rgb(132, 217,210);
    width: 100%;
    height: 100%;
    position: fixed;
}

#dateInput img{
    max-width: 175px;
    height: auto;
    padding: 20px 40px;
}

body {
    background-color:rgb(234, 252, 255);
    font-family: "Roboto";
    color: lightgray;
    padding-bottom: 65px;
}

h1{
    font-size: 15px; 
}

#navbar {
    background-color:rgb(77, 84, 96);
    font-family: "Roboto";
    color:white;
}

#texts {
    color: white;
}

#navbar a{
    display:block;
    color: rgb(255, 255, 255);
    
    border-radius: 5%;
    text-decoration: none;
}

#navbar a:hover {
    background-color: rgb(23, 162, 184);
}

#cal {
    background-color: white;
}

p{
    color: rgb(94, 94, 94);
    margin-top: 10px;
}

#navIcon{
    
}

.countDown{
    background: rgb(184, 184, 184);
    border: 5px solid rgb(156, 155, 155);
    border-radius: 5%;
    margin-top: 30px;
    padding-top: 10px;
}

.countDown p{
    color:black;
    font-family: 'Roboto';
    font-size: 30px;
    text-align: center;
    vertical-align: center;
}

